<h2>All Rewards</h2>
<% @rewards.each do |reward| %>
  <div>
     <p><%= reward.name %> - <%= reward.cost %></p>
     <img src="<%= reward.image_link %>" alt="<%= reward.name %> image" class="reward-img" />
     <%= link_to "Edit", edit_admin_reward_path(reward) %>
     <%= link_to "Delete", admin_reward_path(reward), method: "delete" %>
  </div>
<% end %>
