<!DOCTYPE html>
<html>
  <head>
    <title>PointBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
  </head>
  <% flash.each do |key, value| %>
    <div class=alert-<%= key %>>
      <%= value %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
